body {
    background-color: cyan;
    color:black;
    background-image: url("mitw-closeup")
}

section {
    background-color: black;
    color: blue;
    background-image:url("mitw-closeup")
}

h1 {
    background-color:black;
    color:white
    
}

